__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv/
env/
venv/
ENV/

# Python packaging
*.egg-info/
dist/
build/

# Django specific
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
media/

# Local settings, environment variables, and secrets
*.env
.env.local
.env.*.local

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
